body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

.passButton {
  display: inline-block;
  background-color: lightcoral;
  color: white;
  font-weight: bold;
  padding: 0.8rem 3.5rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.answerButton {
  display: inline-block;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  padding: 0.8rem 3rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}